@{
    ViewBag.Title = Resources.Resource.ConfirmSuccess;
}

<h2>@Resources.Resource.ConfirmSuccess</h2>


<h2>@Resources.Resource.ConfirmSuccessMessage </h2>
    <a href="~/Account/Login">@Resources.Resource.LogIn</a>
