@{
    ViewBag.Title = Resources.Resource.About;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        @Resources.Resource.AboutBody
    </p>
</article>


