@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        This is my first expirience in making PhotoSite, and even OOP itself. Don't be angry on me, please!)
    </p>
</article>


