@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
  </hgroup>

<div class="col-md-4">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="glyphicon glyphicon-hand-right">Main:</span>
        <span>+375298008158</span>
    </p>
    <p>
        <span class="glyphicon glyphicon-hand-right">After Hours:</span>
        <span>-</span>
    </p>
</div>

<div class="col-md-4">

    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="glyphicon glyphicon-asterisk">Support:</span>
        <span><a href="mailto:Support@example.com">skyhat@mail.ru</a></span>
    </p>
    <p>
        <span class="glyphicon glyphicon-asterisk">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">skyhat@mail.ru</a></span>
    </p>
    <p>
        <span class="glyphicon glyphicon-asterisk">General:</span>
        <span><a href="mailto:General@example.com">skyhat@mail.ru</a></span>
    </p>
</div>

<div class="col-md-4">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Belarus Way<br />
        Minsk
    </p>
</div>
