@model IEnumerable<HelloWorld.Models.UserProfile>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.UserName</h4>
        <div>@item.Email, @item.UserId</div>
        <hr />
        </div>
}