@model IEnumerable<HelloWorld.Models.Book>

@{
    ViewBag.Title = @Resources.Resource.AllBooks;
}


<p>
    <a href="~/Book/Create" class="btn btn-default">@Resources.Resource.CreateBook</a>
</p>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "BookList"
    }))
{
    <input type="search" class="form-control" name="search" />
    <input type="submit" class="btn btn-default" value="@Resources.Resource.Search@Resources.Resource.OnBooks" />
}


@Html.Partial("_TableBooks", Model)
