@{
    ViewBag.Title = Resources.Resource.YouDropedPass;
}


<h1>@ViewBag.Title.</h1>


@Resources.Resource.YouDropedPassIn
<hr />
<div class="btn btn-success">
    @Html.ActionLink("Back to List", "Index")
</div>
